@charset "UTF-8";
body {
    padding-top: 10px;
    background-image: url(images/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
        
}
.container{
    max-width: 300px;
    margin: auto;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

input{
    width: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.container2 {
    
    max-width: 300px;
    margin: auto;
    
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h5{
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 0px;
    font-size: 18px;
}
p.a{
    text-align: left;
    font-size: 14px;
}
p.b{
    text-align: left;
    font-size: 14px;
}
.c{
    text-align: center;
    font-size: 14px;
}
.footer{
    background-color: aliceblue;;
    margin-top: 20px;
    border-radius: 100px;
    padding: 0.1em;
    text-align: center;
}

a:link{
    text-decoration: none;
    color: black;
       
    
}